<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add product</h1>
    <form method="post">
        <input type="hidden" name="id" value="{{id}}">
        <p>
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{title}}">
        </p>
        <p>
            <label for="brand">Brand</label><br>
            {{#each brands}}
            <option value="{{this.id}}"
            {{#if this.id == selected_id}}
            selected="selected"
            {{/if}}
            >{{this.title}}</option>
            {{/each}}
        </p>
        <p>
            <label for="price">Title</label><br>
            <input type="number" name="price" value="{{price}}">
        </p>
        <input type="submit" value="Save product">
        
    </form>
</body>
</html>